.container {
	padding: 15rpx;
	font-size: 14px;
}

.form-item {
	min-height: 40rpx;
	margin-top: 30rpx;
}

.form-item .link {
	display: flex;
	justify-content: center;
}

.form-item .link uni-text {
	margin: 0 15rpx;
}

.hide {
	display: none;
}
